// checkbox related variables
$app-checkbox-height: 25px;
$app-checkbox-width: 25px;
$app-checkbox-background-color: #ddd;
$app-checkbox-right-margin: $padding-base-vertical - 1; // ~5px
$app-checkbox-border-radius: $border-radius-large * 2; // 12px
$app-checkbox-border: 1px solid #000;

$app-checkbox-checked-padding-top: $padding-base-vertical / 2; // ~3px
$app-checkbox-checked-padding-left: $padding-base-vertical - 1; // ~5px
$app-checkbox-checked-color: white;
$app-checkbox-checked-border: none;
