// write navbar related variables
$application-navbar-color: #2196F3;
$application-navbar-border-color: #E3F2FD;
$application-navbar-toggle-hover-color: #0D47A1;
$application-navbar-link-color: white;

$navbar-default-color: $application-navbar-color;
$navbar-default-bg: $application-navbar-color;

$navbar-default-border:$application-navbar-border-color;

$navbar-default-link-color: $application-navbar-link-color;
$navbar-default-link-active-color: $application-navbar-link-color;

$navbar-default-toggle-hover-bg: $application-navbar-toggle-hover-color;
$navbar-default-toggle-icon-bar-bg: $application-navbar-border-color;
$navbar-default-toggle-border-color: $application-navbar-border-color;
