<div class="container">
	<h1><i class="fa fa-users"></i>&nbsp;Users</h1>
	<table class="table table-bordered">
		<thead class="thead-dark">
			<th>Name</th>
			<th>Username</th>
			<th>Email</th>
			<th>Website</th>
			<th>Company</th>
		</thead>
		<tbody>
			<tr ng-repeat="user in $ctrl.users">
				<td>{{user.name}}</td>
				<td>{{user.username}}</td>
				<td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
				<td>{{user.website}}</td>
				<td>{{user.company.name}}</td>
			</tr>
		</tbody>
	</table>
</div>
