.panel-heading {
	.accordion-toggle {
		&:after{
			/* symbol for "opening" panels */
			font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
			content: "\e113";    /* adjust as needed, taken from bootstrap.css */
			float: right;        /* adjust as needed */
		}
		&.collapsed:after {
			/* symbol for "collapsed" panels */
			content: "\e114";    /* adjust as needed, taken from bootstrap.css */
		}
	}
}
